/*******************************************
GENERAL
*******************************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: inherit;

}

html, body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #444;
  text-shadow: 1px 1px 0px #fff;
  }

body {
  text-align: center;
}

.container{
  margin: auto;
}

/* headings */

h1 {
  margin: 0;
  color: #4e6365;
  font-size: 1.4em;
  line-height: 2.3em;
  font-weight: bold;
  }


/*******************************************
Hero
*******************************************/

.hero {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 10px 0;
}


.hero h1 {
  font-size: 1.4em;
  line-height: 2.3em;
  text-shadow: 1px 1px 0px #fff;
}

spam {
  color: #aaa;
  font-size: 1rem;
}

.hero p {
  font-size: 0.9em;
  line-height: 1.2em;
}

.hero img {
  border-radius: 50%;
  max-width: 100%;
}

.headshot{
  width: 250px;
  height: 249px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 1s, box-shadow 1s;
  background-image: url(../img/raquel_hover.jpg);
}

.headshot img {
  transition: opacity 2s;
}

.headshot:hover{
  transform: rotate(360deg);
  box-shadow: 0px 0px 50px 10px #aeeed0;
}

.headshot:hover img {
  opacity: 0;
}

/*******************************************
Section
*******************************************/

.section {
  border-top: 2px dashed #aaa;
  padding-bottom: 3em;
  }

/*******************************************
Portfolio
*******************************************/


.portfolio .img-responsive {
    margin: 0 auto;
    }

.row.display-flex {
  display: flex;
  flex-wrap: wrap;

}
.thumbnail {
    align-items: center;
    height: 100%;
}

.thumbnail img {
  max-height:300px;
  max-width: 100%;
}

/*******************************************
Robot
*******************************************/

.vertical-center-row {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.robot {
  height:150px;
  width:50px;
  margin: auto;
  padding: auto;
  list-style: none;
  position: relative;
}

.beep{
  width: 2px;
  height: 0;
  border: 5px solid transparent;
  border-bottom:25px solid #888;
  border-top: 5px solid #777;
  margin: 0 auto;
  padding: 0 auto;
  animation: redbeep 1s ease infinite alternate ;


}

.brain{
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #aeeed0;
  background: radial-gradient(circle, white 15%, transparent 40%), #aeeed0;
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #aeeed0;
  background-size: 33% 100%;
  height: 50px;
  width: 50px;
  border-radius: 20px 20px 0 0;
  border-bottom:10px double #666;
  animation: eyes 3s ease infinite alternate ;

  }

.torso{
  height:0;
  width:50px;
  border-top: 70px solid #aeeed0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-radius: 5px 5px 30px 30px;
  animation: torso 3s ease infinite alternate ;
}

.armleft {
  background-color: #aeeed0;
  position: absolute;
  left: -48px;
  height:0;
  width:50px;
  height: 10px;
  border-top: 10px solid #aeeed0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 30px 30px 30px 30px;
  animation: armleft 3s ease infinite alternate ;

}

.armright{
  background-color: #aeeed0;
  position: absolute;
  right: -48px;
  height:0;
  width:50px;
  height: 10px;
  border-top: 10px solid #aeeed0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 30px 30px 30px 30px;
  animation: armright 3s ease infinite alternate ;
}

.foot{
  height: 10px;
  width:  10px;
  background:#ccc;
  border-radius:10px;
  border:5px solid #999;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  }

@keyframes redbeep {
  from {
    border-top: 5px solid #777;
    }

   to {
     border-top: 5px solid #f5153a;
   }
}

@keyframes eyes {
  from {
    background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #aeeed0;
    background-size: 33% 100%;
    border-bottom:10px double #666;
    height: 50px;

    }

   to {
     background: -webkit-radial-gradient(circle, white 15%, transparent 60%), red;
     border-bottom:10px double #fff;
     height: 55px;


     }
}

@keyframes torso  {
  from {
    width:50px;
    border-top: 70px solid #aeeed0;

    }

   to {
     width:50px;
     border-top: 70px solid red;
      margin-top: 5px;

     }
}


@keyframes armleft  {
  from {
     -webkit-transform: rotateZ(0deg);
     background-color: #aeeed0;
     border-top: 10px solid #aeeed0;
    }

   to {
      -webkit-transform: rotateY(60deg);
       transform-origin:right;
      -moz-transform: rotateZ(60deg);
      -ms-transform: rotateZ(60deg);
      transform: rotateZ(60deg);
      background-color: red;
      border-top: 10px solid red;
       }
}


@keyframes armright  {
  from {
     -webkit-transform: rotateZ(0deg);
     background-color: #aeeed0;
     border-top: 10px solid #aeeed0;
    }

   to {
      -webkit-transform: rotateZ(-60deg);
       transform-origin:left;
      -moz-transform: rotateZ(-60deg);
      -ms-transform: rotateZ(-60deg);
      transform: rotateZ(-60deg);
      background-color: red;
      border-top: 10px solid red;
       }
}

/**********************************
Media Queries
***********************************/
form {
  margin: auto;
}


/**********************************
Media Queries
***********************************/

/*Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) {
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
.hero {
  margin-top: 0px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .hero img {
    border-radius: 50%;
    max-width: 100%;
    width: 350px;
    height: 348px;
  }

.headshot{
  width: 350px;
  height: 348px;
  background-image: url(../img/raquel_hover_ms.jpg);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero h1 {
    font-size: 2em;
    line-height: 2
}

h1 {
  font-size: 2em;
  line-height: 2
}
